# Dependencies
node_modules/
jspm_packages/
.venv/
venv/
env/

# Build outputs
dist/
build/
out/
target/

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local


./client/node_modules
./server/node_modules
